#galleries-institutions-footer
  .galleries-institutions-footer-section.galleries-institutions-footer-section-left
    .galleries-institutions-footer-text Interested in Listing Your #{type == 'gallery' ? 'Gallery' : 'Museum'} on Nuart?
    a.galleries-institutions-footer-button.avant-garde-button-white(href="") Learn More
  if type == 'gallery'
    .galleries-institutions-footer-section.galleries-institutions-footer-section-right
      .galleries-institutions-footer-text Read Nuart Insights for Galleries
      a.galleries-institutions-footer-button.avant-garde-button-white(href="") Explore
